.home-heading{
    text-align: center;
    margin: 20px;
}

.popup-container{
    border: 2px solid gold;
    display: flex;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
}

.home-emptylist-container{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**/  
  .pagination-container {
    display: flex;
    justify-content: center;
  }
  