.register-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form{
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px #f1f1f1;
    border-radius: 5px;
}

.register-form-heading{
    text-align: center;
    padding-bottom: 10px;
}

.register-input-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.register-input-label{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.register-input{
    outline: none;
    padding-left: 10px;
    height: 32px;
}

.register-form-btn{
    margin-top: 10px;
    background-color:#0d6efd;
    border: none;
    border-radius: 4px;
    height: 32px;
    color: #ffffff;
}


.register-form-err-msg{
    font-size: 14px;
    color: red;
    margin-bottom: 0;
}

.register-form-login-here-para{
    font-size: 14px;
    margin-top: 5px;
}

.register-form-isregister-msg{
    font-size: 14px;
    color: green;
    margin-bottom: 0;
}